<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace = "~{layout/plantilla :: head}">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: menu}" />
        
        <section>
            <h1>Inscriure's al Transport de la Sortida</h1>
        </section>
        
        <main>
            <p>
                <form th:action="@{/inscribirseTransporte}" method="get" th:object="${UsuarioEvento}" th:object="${Evento}">

                    <input type="hidden" name="idusuarioevento" th:field="*{idusuarioevento}"/>
                    <input type="hidden" name="idevento" th:field="*{idevento}"/>
                    
                    <p>
                        <label for="asistenciaTransporte">Inscriure's A Transport :</label><br><br>
                        <input type="checkbox" name="asistenciaTransporte" th:field="*{asistenciaTransporte}"><br><br>
                    </p>
                    
                <input type="submit" name="enviar" value="Enviar Dades"/> 

                </form>
             </p>
        </main>
        
        <div>
            <a th:href = "@{/paginalistarSalidas}">
                <button>Tornar</button>
            </a>
        </div>
        
    </body>
</html>
