<!DOCTYPE html>
<html>
    <head>
        <title th:text="${CrearSalida}"></title>
    </head>
    <body>

        <section>
            <h1 th:text="${CrearSalida}"></h1>  
        </section>

        <main>

            <h3>PASAR LISTA</h3>

            <p>
                <form th:action="@{/anadirUsarioSalida}" method="POST" th:object="${salida}">

                    <input type="hidden" name="idevento" th:field="*{idevento}"/>

                    <h4>LISTA USUARIOS</h4>

                    <div th:if="${usuarios!=null && !usuarios.empty}">

                        <table border="1">
                            <tr>
                                <th>Nombre</th>
                                <th>Mail</th>
                                <th>Telefono</th>
                                <th>SI/NO</th>
                            </tr>
                            <tr th:each="usuario : ${usuarios}">
                                <th th:text="${usuario.nombre}"></th>
                                <th th:text="${usuario.mail}"></th>
                                <th th:text="${usuario.telefono}"></th>
                                <td>
                                    <input type="checkbox" th:value="${usuario.idusuario}" th:name="usuariosId"> 
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div th:if="${usuarios==null || usuarios.empty}">
                        <p>No existen más usuarios registrados!</p>
                    </div>
                    <br>
                    <input type="submit" value="Añadir Asistente/s" th:disabled="${#lists.isEmpty(usuarios)}">
                </form>
            </p>
            
            <h4>LISTA ASISTENTES</h4>

            <p>
                <form th:action="@{/eliminarAsistentes}" method="POST" th:object="${salida}">

                    <input type="hidden" name="idevento" th:field="*{idevento}"/>

                    <div th:if="${usuariosAsignados!=null && !usuariosAsignados.empty}">

                        <table border="1">
                            <tr>
                                <th>Nombre</th>
                                <th>Mail</th>
                                <th>Telefono</th>
                                <th>SI/NO</th>
                            </tr>
                            <tr th:each="usuario : ${usuariosAsignados}">
                                <th th:text="${usuario.nombre}"></th>
                                <th th:text="${usuario.mail}"></th>
                                <th th:text="${usuario.telefono}"></th>
                                <td>
                                    <input type="checkbox" th:value="${usuario.idusuario}" th:name="usuariosId" />
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div th:if="${usuariosAsignados==null || usuariosAsignados.empty}">

                        <p>No hay usuarios asignados!</p>

                    </div>
                    
                    <br>
                    <input type="submit" value="Quitar Asistente/s" th:disabled="${#lists.isEmpty(usuariosAsignados)}">

                </form>

            </p>


        </main>

        <div>
            <a th:href = "@{/paginalistarSalidas}">
                <button>Volver</button>
            </a>
        </div>
        
    </body>
</html>