<!DOCTYPE html>
<html>
  <head>
    <title th:text="${CrearSalida}"></title>
    <script>
        var myBooleanValue = false; // Valor booleano por defecto
        document.getElementById("booleanParadita").addEventListener("change", function() {
            myBooleanValue = this.checked;
        });
    </script>
  </head>
  <body>
      
    <section>
        <h1 th:text="${CrearSalida}"></h1>  
    </section>
    
    <main>
        
        <p>
            <form th:action="@{/guardarSalida}" method="post" th:object="${salida}">
                <input type="hidden" name="idevento" th:field="*{idevento}"/>
                
                    <p>
                        <label for="nombreEvento">Nombre :</label><br><br>
                        <input type="text" name="nombreEvento" th:field="*{nombreEvento}" ><br><br>
                    </p>
                    
                    <p>
                        <label for="fechaEvento">Fecha [AAAA-MM-DD] :</label><br><br>
                        <input type="date" name="fechaEvento" th:field="*{fechaEvento}"><br><br>
                    </p>
                    
                    <p>
                        <label for="ubicacionEvento">Ubicación :</label><br><br>
                        <input type="text" name="ubicacionEvento" th:field="*{ubicacionEvento}"><br><br>
                    </p>
                    
                    <p>
                        <label for="paradita">Paradita :</label><br><br>
                        <input type="checkbox" id="booleanParadita" name="paradita" th:field="*{paradita}"><br><br>
                    </p>
                    
                    <!--<input type="hidden" name="asistenciaSalida" th:field="*{asistenciaSalida}">
                    
                    <input type="hidden" name="asistenciaTransporte" th:field="*{asistenciaTransporte}">-->
                    
                <input type="submit" name="enviar" value="Enviar Dades"/> 
                
            </form>
        </p>
     
    </main>
      
    <div>
        <a th:href = "@{/paginalistarSalidas}">
            <button>Volver</button>
        </a>
    </div>
    
  </body>
</html>