<!DOCTYPE html>
<html>
  <head th:replace = "~{layout/plantilla :: head}">
    </head>
  <body>
    <script>
        var myBooleanValue = false; // Valor booleano por defecto
        document.getElementById("booleanParadita").addEventListener("change", function() {
            myBooleanValue = this.checked;
        });
    </script>
    <div th:replace="~{layout/plantilla :: menu}" />
    
    <section>
        <h1 th:text="${CrearSalida}"></h1>  
    </section>
    
    <div class="container">
        
        <p>
            <form th:action="@{/guardarSalida}" method="post" th:object="${salida}">
                <input type="hidden" name="idevento" th:field="*{idevento}"/>
                
                    <p>
                        <label for="nombreEvento">Nom :</label>
                        <input type="text" name="nombreEvento" th:field="*{nombreEvento}" ><br><br>
                        <span th:if="${#fields.hasErrors('nombreEvento')}" th:errors="*{nombreEvento}"/>
                    </p>
                    
                    <p>
                        <label for="fechaEvento">Data [AAAA-MM-DD] :</label>
                        <input type="date" name="fechaEvento" th:field="*{fechaEvento}"><br><br>
                        <span th:if="${#fields.hasErrors('fechaEvento')}" th:errors="*{fechaEvento}"/>
                    </p>
                    
                    <p>
                        <label for="horario">Horari :</label> <!--Etiqueta per l'edat del gos-->            
                        <input type="text" name="horario" th:field="*{horario}"/> <br><br> <!--Associem les dades introduïdes amb l'atribut edat-->
                        <span th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}"/>
                    </p>

                    
                    <p>
                        <label for="ubicacionEvento">Ubicació :</label>
                        <input type="text" name="ubicacionEvento" th:field="*{ubicacionEvento}"><br><br>
                        <span th:if="${#fields.hasErrors('ubicacionEvento')}" th:errors="*{ubicacionEvento}"/>
                    </p>
                    
                    <p>
                        <label for="paradita">Paradeta :</label>
                        <input type="checkbox" id="booleanParadita" name="paradita" th:field="*{paradita}"><br><br>
                    </p>
                    
                    <!--<input type="hidden" name="asistenciaSalida" th:field="*{asistenciaSalida}">
                    
                    <input type="hidden" name="asistenciaTransporte" th:field="*{asistenciaTransporte}">-->
                    
                <input class="btn btn-warning" type="submit" name="enviar" value="Enviar Dades"/> 
                
            </form>
        </p>
        
        <a th:href = "@{/paginalistarSalidas}">
            <button class="btn btn-warning">Tornar</button>
        </a>
     
    </div>
    
  </body>
</html>
