<!DOCTYPE html>
<html>
  <head th:replace = "~{layout/plantilla :: head}">
    </head>
  <body>
  <body>
    
    <section>
      <h2>Asistentes y Transporte de la salida</h2><br>
    </section>
      
    <main th:if="${usuarios!=null && !usuarios.empty}">
      <label>Numero de asistentes a la Salida: </label>
      <label th:text="${numeroDeAsistentes}"></label><br><br>

      

      <table border="1">
        <thead>
          <tr>
            <th >Nombre</th>
            <th >Edat</th>
            <th >Peso</th>
            <th >Altura</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.edat}"></td>
            <td th:text="${usuario.peso}"></td>
            <td th:text="${usuario.altura}"></td>
          </tr>
        </tbody>
      </table><br>

      

      <label>Numero de asistentes al Transporte Grupal: </label>
      <label th:text="${numeroDeAsistentesTransporte}" ></label><br><br>

      

      <table border="1">
        <thead>
          <tr>
            <th >Nombre</th>
            <th >Edat</th>
            <th >Peso</th>
            <th >Altura</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="usuario : ${usuariosTransporte}">
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.edat}"></td>
            <td th:text="${usuario.peso}"></td>
            <td th:text="${usuario.altura}"></td>
          </tr>
        </tbody>
      </table><br>

    </main>
    
    <div>
        <a href="/paginalistarSalidas">
            <button>Volver</button>
        </a>
    </div>    
    
    <div th:if="${usuarios==null || usuarios.empty}">
       <!-- Mostrem missatge-->
       No hi ha usuarios a la llista.
    </div>
    
  </body>
</html>