<!DOCTYPE html>
<html>
    <head th:replace = "~{layout/plantilla :: head}">
    </head>
    <body>
    <body>
        <style>
            .sizeforlabel {
                font-size: 20px;
            }.sizeforlabel2 {
                font-size: 19px;
                font-weight: bold;
            }
        </style>
        <header th:replace="~{layout/plantilla :: menu}" />
        <div class="container"></br></br>

            <section>
                <h2>Assistents i Transport de la sortida</h2><br>
            </section>

            <main th:if="${usuarios!=null && !usuarios.empty}">
                <label class="sizeforlabel">Nombre d'assistents a la sortida: </label>
                <label th:text="${numeroDeAsistentes}" class="sizeforlabel2"></label><br><br>

                <table border="1" class="table">
                    <thead class="table-warning">
                        <tr>
                            <th >Nom</th>
                            <th >Edat</th>
                            <th >Pes</th>
                            <th >Altura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuarios}">
                            <td th:text="${usuario.username}"></td>
                            <td th:text="${usuario.edat}"></td>
                            <td th:text="${usuario.peso}"></td>
                            <td th:text="${usuario.altura}"></td>
                        </tr>
                    </tbody>
                </table><br>



                <label class="sizeforlabel" >Nombre d'assistents al transport grupal:</label>
                <label th:text="${numeroDeAsistentesTransporte}" class="sizeforlabel2" ></label><br><br>



                <table border="1" class="table">
                    <thead class="table-warning">
                        <tr>
                            <th >Nom</th>
                            <th >Edat</th>
                            <th >Pes</th>
                            <th >Altura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuariosTransporte}">
                            <td th:text="${usuario.username}"></td>
                            <td th:text="${usuario.edat}"></td>
                            <td th:text="${usuario.peso}"></td>
                            <td th:text="${usuario.altura}"></td>
                        </tr>
                    </tbody>
                </table><br>

            </main>    

            <div th:if="${usuarios==null || usuarios.empty}">
                <!-- Mostrem missatge-->
                No hi ha usuaris a la llista.
            </div>

            <div>
                <a href="/paginalistarSalidas">
                    <button class="btn btn-outline-warning" >Tornar</button>
                </a>
            </div>
        </div>
    </body>
</html>
