<!DOCTYPE html>
<html>
  <head>
    <title th:text="${DetalleCastillo}"></title>
  </head>
  <body>
      
    <section>
      <h1 th:text="${DetalleCastillo}"></h1>
    </section>
    
    <main>
      <table  border="1">
        <thead>
          <tr>
            <th th:text="${Castillo}"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="castillo : ${castillos}">
            <td th:text="${castillo.nombre}"></td>
          </tr>
        </tbody>
      </table>
    </main><br>
    
    <div>
        <a href="/paginalistarSalidas">
            <button th:text="${Volver}"></button>
        </a>
    </div>
    
  </body>
</html>