<!DOCTYPE html>
<html>
    <head>
        <title th:text="DetalleCastillo"></title>
    </head>
    <body>

        <section>
            <h1 th:text="DetalleCastillo"></h1>
        </section>

        <main th:if="${castillosAsignados!=null && !castillosAsignados.empty}">
            <table border="1">
                <tr>
                    <th>Castillos Asignados</th>
                </tr>
                <tr th:each="castillo : ${castillosAsignados}">
                    <td th:text="${castillo.nombre}"></td>
                </tr>
            </table>
        </main><br>

        <div>
            <a href="/paginalistarSalidas">
                <button th:text="Volver"></button>
            </a>
        </div>

        <div th:if="${castillosAsignados==null || castillosAsignados.empty}">
            <!-- Mostrem missatge-->
            No hi ha castillos a la llista.
        </div>

    </body>
</html>