<!DOCTYPE html>
<html>
    <head th:replace = "~{layout/plantilla :: head}">
    </head>
    <body>

        <header th:replace="~{layout/plantilla :: menu}" />
        <div class="container"></br>

            <section >
                <h1 >SORTIDES</h1>
            </section></br>



            <main th:if="${salidas!=null && !salidas.empty}">

                <table border="1" class="table">
                    <thead class="table-warning" >
                        <tr>
                            <th class="align-middle" th:text="Nom"></th>
                            <th class="align-middle" th:text="Data"></th>
                            <th class="align-middle" th:text="Horari"></th>
                            <th class="align-middle" th:text="Ubicació"></th>
                            <th class="align-middle" th:text="Paradeta"></th>
                            <th class="align-middle" th:text="Castell"></th>
                            <th class="align-middle" th:text="Accions" th:if="${!ocultar && ocultar2}"></th>
                            <!--<th th:text="Inscribirseasalida"></th>-->
                            <th class="align-middle" th:if="${ocultar && !ocultar2}">Inscriure's Sortida</th>
                            <th class="align-middle" th:if="${ocultar && !ocultar2}">Inscriure's Transport Sortida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="salida : ${salidas}">
                            <td class="align-middle" th:text="${salida.nombreEvento}"></td>
                            <td class="align-middle" th:text="${salida.fechaEvento}"></td>
                            <td class="align-middle" th:text="${salida.horario}"></td>
                            <td class="align-middle" th:text="${salida.ubicacionEvento}"></td>
                            <td class="align-middle" > <input type="checkbox" th:checked="${salida.paradita}" disabled="disabled"/> </td>
                            <td class="align-middle" >
                                <a th:href="@{/detalleSalida/}+${salida.idevento}">
                                    <button class="btn btn-outline-warning" >Detall</button>
                                </a>
                            </td>                
                            <td class="align-middle" th:if="${!ocultar && ocultar2}">
                                <a th:href="@{/pasarIDaCastillo/}+${salida.idevento}">
                                    <button class="btn btn-outline-warning">Consultar Castells</button>
                                </a>

                                <a th:href="@{/detalleAsistentesSalida/}+${salida.idevento}">
                                    <button class="btn btn-outline-warning">Detall Assistents</button>
                                </a>

                                <a th:href="@{/editarAsistencia/}+${salida.idevento}">
                                    <button class="btn btn-outline-warning">Pasar Llista</button>
                                </a>

                                <a th:href="@{/editarSalida/}+${salida.idevento}">
                                    <button class="btn btn-warning"><i class="fa-solid fa-pencil"></i></button>
                                </a>
                                <a th:href="@{/eliminarSalida/}+${salida.idevento}">
                                    <button class="btn btn-danger"><i class="fa-solid fa-trash-can" style="color: #ffffff;"></i></button>
                                </a>
                            </td>
                            <!--<p>Valor de inscrito: <span th:text="${btnTexto}"></span></p>-->
                            <td class="align-middle" th:if="${ocultar && !ocultar2}"> 
                                <a th:href="@{/inscribirseSalidaITransporte/}+${salida.idevento}">
                                    <button class="btn btn-outline-warning" >Inscriure's</button>
                                </a>
                            </td>

                            <td class="align-middle" th:if="${ocultar && !ocultar2}"> 
                                <a th:href="@{/inscribirseTransporte/}+${salida.idevento}">
                                    <button class="btn btn-outline-warning" >Inscriure's</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div th:if="${mensaje}" th:text="${mensaje}"></div>

            </main><br>
            <!-- <input type="checkbox" th:checked="${salida.asistenciaSalida}"/> <input type="checkbox" th:checked="${salida.asistenciaTransporte}" />-->
            <div>
                <a href="/formularioSalida">
                    <button th:if="${!ocultar && ocultar2}" class="btn btn-outline-warning" >Crear Sortida</button>
                </a>
            </div>

            <div th:if="${salidas==null || salidas.empty}">
                <!-- Mostrem missatge-->
                No hi ha sortides a la llista.
                <div>
                    <a href="/formularioSalida">
                        <button th:if="${!ocultar && ocultar2}" class="btn btn-outline-warning" >Crear Sortida</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
