<!DOCTYPE html>
<html>
  <head>
    <title>Modificar Salida</title>
  </head>
  <body>
      
    <section>
      <h1>Modificar Salida</h1> 
    </section> 

    <main>
      <label for="campo1">Nombre</label>
      <label for="campo2">Fecha</label>
      <label for="campo3">Ubicación</label>
      <label for="campo4">Paradita</label><br>
  
      <input type="text" id="campo1" size="2"><br>
      <input type="text" id="campo2" size="2"><br>
      <input type="text" id="campo3" size="2"><br>
      <input type="text" id="campo4" size="2"><br>
    </main>
    
    <div>
      <button>Cancelar</button>
      <button>Modificar Salida</button>
    </div>    
    
  </body>
</html>