<!DOCTYPE html>
<html>
  <head>
    <title th:text="${ModificarSalida}"></title>
  </head>
  <body>
      
    <section>
      <h1 th:text="${ModificarSalida}"></h1> 
    </section> 

    <main>
      <label for="campo1" th:text="${Nombre}"></label>
      <label for="campo2" th:text="${Fecha}"></label>
      <label for="campo3" th:text="${Ubicacion}"></label>
      <label for="campo4" th:text="${Paradita}"></label><br><br>
  
      <input type="text" id="campo1" size="2">
      <input type="text" id="campo2" size="2">
      <input type="text" id="campo3" size="2">
      <input type="text" id="campo4" size="2"><br><br>
    </main>
    
    <div>
        <a href="/paginalistarSalidas">
            <button th:text="${Cancelar}"></button>
        </a>
      
        <a href="/paginalistarSalidas">
            <button th:text="${ConfirmarModificacion}"></button>
        </a>
    </div>    
    
  </body>
</html>