<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Confirmar Eliminar Ensayo</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <div>

            
            <table border="1">
                <tr>
                    <th><p>¿Estas seguro de que quieres eliminar el Ensayo?</p></th>
                </tr>
                <tr>
                    <th><button>No</button><button>Si</button></th>
                </tr>
            </table>
            
        </div>

    </body>
</html>