<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detalle Ensayo</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <div>

            <table>
                <tr>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Menu</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Ensayos</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Salidas</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Castillos</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Administración</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Ajustes</a></th>
                </tr>
            </table>

            <h1>Detalle Ensayo</h1>

            <table border="1">
                <tr>
                    <th>Nombre Ensayo</th>
                    <th>Fecha</th>
                    <th>Ubicación</th>
                    <th>Duración</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            
            <h3>Castillos Asignados</h3>
            <table border="1">
                <tr>
                    <th>Castillos Asignados</th>
                </tr>
                <tr>
                    <th></th>
                </tr>
            </table>
            
            <h3>Pasar Lista</h3>
            <h4>Lista Asistentes</h4>
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Edat</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            
            <button>Actualizar Lista</button>
            
            <h4>Lista Usuarios</h4>
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Edat</th>
                    <th>SI/NO</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            
        </div>

    </body>
</html>