<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "~{layout/plantilla :: head}">
    </head>
    <body>
        <div th:replace="~{layout/plantilla :: menu}" />
        <div class="container">
            <h1>Formulario Ensayo</h1>
            <p>
            <form th:action="@{/guardarEnsayo}" method="post" th:object="${ensayo}">

                <!--Thymeleaf indica que una varaible fa refèrencia a un atribut d'una classe de l'aplicació, utilitzant
                    l'element precedint el nom th:field. El valor que li assignarem a aquest element serà el nom de
                    l'atribut de la classe al que fa referència, per exemple, *{idgos}, fa refèrencia a l'atribut idgos de 
                    la classe gos. Fixeu-vos que a diferència de les variables, quan es tracta d'un atribut, les claus de
                    l'atribut van precedides de *, en lloc de $.-->

                <!-- Camp ocult on guardem el valor de l'atribut idgos de la classe gos per enviar-lo juntament amb les altres dades.-->                 
                <input type="hidden" name="idevento" th:field="*{idevento}"/>

                <p>
                    <label for="nombreEvento">Nombre:</label> <!--Etiqueta on indiquem a l'usuari que ha d'introduir el nom del gos-->
                    <!--Thymeleaf associarà les dades afegides mitjançant aquest input, a l'atribut nom de l'objecte
                        gos assignat a th:objecte-->
                    <input type="text" name="nombreEvento" th:field="*{nombreEvento}"/>
                    <span th:if="${#fields.hasErrors('nombreEvento')}" th:errors="*{nombreEvento}"/>

                </p>

                <p>
                    <label for="fechaEvento">Fecha:</label> <!--Etiqueta per l'edat del gos-->            
                    <input type="date" name="fechaEvento" th:field="*{fechaEvento}"/> <!--Associem les dades introduïdes amb l'atribut edat-->
                    <span th:if="${#fields.hasErrors('fechaEvento')}" th:errors="*{fechaEvento}"/>
                </p>

                <p>
                    <label for="horario">Horario:</label> <!--Etiqueta per l'edat del gos-->            
                    <input type="text" name="horario" th:field="*{horario}"/> <!--Associem les dades introduïdes amb l'atribut edat-->
                    <span th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}"/>

                </p>

                <p>
                    <label for="ubicacionEvento">Ubicacion</label> <!--Etiqueta pel sexe del gos-->            
                    <input type="text" name="ubicacionEvento" th:field="*{ubicacionEvento}"/> <!--Associem les dades introduïdes amb l'atribut sexe-->
                    <span th:if="${#fields.hasErrors('ubicacionEvento')}" th:errors="*{ubicacionEvento}"/>
                </p>

                <p>
                    <label for="duracion">Duracion:</label> <!--Etiqueta pel sexe del gos-->            
                    <input type="text" name="duracion" th:field="*{duracion}"/> <!--Associem les dades introduïdes amb l'atribut sexe-->
                    <span th:if="${#fields.hasErrors('duracion')}" th:errors="*{duracion}"/>
                </p>

                <!-- Botó per enviar les dades-->
                <input class="btn btn-warning" type="submit" name="enviar" value="Enviar Datos"/>        
            </form>
        </p>
    </div>

</body>
</html>