<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listar Ensayos</title>
        <meta charset="UTF-8">
    </head>
    <body>
        
        <nav>
            <ul>
                <li><a href="/menuPrincipal">Menu</a></li>
                <li><a href="/listarEnsayos">Ensayo</a></li>
                <li><a href="/paginalistarSalidas">Salidas</a></li>
                <li><a href="/vistaCastillos">Castillos</a></li>
                <li><a href="/gestionEconomica">Administracion</a></li>
                <li><a href="/vistaModulos">Modulos</a></li>
                <li><a href="/crearUsuario"><img th:src="@{'/ajustes.png'}" width='22' height='22'/></a></li>
            </ul>
        </nav>
        
        <h1>Listar Ensayos</h1>

        <div th:if="${Evento!=null && !Evento.empty}">

            <div><a th:href="@{/FormularioEnsayo}" th:text="Añadir"/></div>

            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Ubicación</th>
                    <th>Duración</th>
                    <th>Opciones</th>
                </tr>
                <tr th:each="ensayo : ${Evento}">
                    <td th:text="${ensayo.nombreEvento}"></td>
                    <td th:text="${ensayo.fechaEvento}"></td>
                    <td th:text="${ensayo.ubicacionEvento}"></td>
                    <td th:text="${ensayo.duracion}"></td>
                    <td>
                        <a th:href="@{/detalleEnsayo/}+${ensayo.idevento}" th:text="Detalle"></a>
                        <a th:href="@{/vistaCastillos/}+${ensayo.idevento}" th:text="Castillos"></a>
                        <a th:href="@{/editarEnsayo/}+${ensayo.idevento}" th:text="Editar"></a>
                        <a th:href="@{/eliminarEnsayo/}+${ensayo.idevento}" th:text="Eliminar"></a>
                    </td>
                </tr>
            </table>

            <div th:if="${Evento==null || Evento.empty}">
                <!-- Mostrem missatge-->
                No hay Ensayos en la lista.
            </div>

        </div>

    </body>
</html>