<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "~{layout/plantilla :: head}">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: menu}" />

        <h1>Listar Ensayos</h1>

        <div th:if="${Evento!=null && !Evento.empty}">

            <div><a th:href="@{/FormularioEnsayo}" th:text="Añadir"/></div>

            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Ubicación</th>
                    <th>Duración</th>
                    <th>Opciones</th>
                </tr>
                <tr th:each="ensayo : ${Evento}">
                    <td th:text="${ensayo.nombreEvento}"></td>
                    <td th:text="${ensayo.fechaEvento}"></td>
                    <td th:text="${ensayo.horario}"></td>
                    <td th:text="${ensayo.ubicacionEvento}"></td>
                    <td th:text="${ensayo.duracion}"></td>
                    <td>
                        <a th:href="@{/detalleEnsayo/}+${ensayo.idevento}" th:text="Detalle"></a>
                        <a th:href="@{/consultar-castillos-ensayo/}+${ensayo.idevento}" th:text="Castillos"></a>
                        <a th:href="@{/editarEnsayo/}+${ensayo.idevento}" th:text="Editar"></a>
                        <a th:href="@{/eliminarEnsayo/}+${ensayo.idevento}" th:text="Eliminar"></a>
                    </td>
                </tr>
            </table>

            <div th:if="${Evento==null || Evento.empty}">
                <!-- Mostrem missatge-->
                No hay Ensayos en la lista.
            </div>

        </div>

    </body>
</html>