<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listar Ensayos</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <div>

            <h1>Listar Ensayos</h1>
            <a href="/crearEnsayo"><button>CREAR</button></a>

            <table border="1">
                <tr>
                    <th>Nombre Ensayo</th>
                    <th>Fecha</th>
                    <th>Ubicación</th>
                    <th>Duración</th>
                    <th>Opciones</th>
                </tr>
                <tr th:each="ensayo : ${ensayos}">
                    <td th:text="${ensayo.nombreEvento}"></td>
                    <td th:text="${ensayo.fechaEvento}"></td>
                    <td th:text="${ensayo.ubicacionEvento}"></td>
                    <td th:text="${ensayo.duracion}"></td>
                    <td>
                        <a href="/detalleEnsayo"><button>Detalle</button></a>
                        <a href="/vistaCastillos"><button>Consultar Castillos</button></a>
                        <a href="/modificarEnsayo"><button>Editar</button></a>
                        <a href="/confirmarEliminarEnsayo"><button>Eliminar</button></a>
                    </td>
                </tr>
            </table>

        </div>

    </body>
</html>