<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificar Ensayo</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <div>

            <h1>Modificar Ensayo</h1>

            <table border="1">
                <tr>
                    <th>Nombre Ensayo</th>
                    <th>Fecha</th>
                    <th>Ubicación</th>
                    <th>Duración</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            
            <button>VOLVER</button>
            <button>MODIFICAR</button>
            
        </div>

    </body>
</html>