<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificar Ensayo</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <div>

            <h1>Modificar Ensayo</h1>

            <table border="1">
                <tr>
                    <th>Nombre Ensayo</th>
                    <th>Fecha</th>
                    <th>Ubicación</th>
                    <th>Duración</th>
                </tr>
                <tr th:each="ensayo : ${ensayos}">
                    <td th:text="${ensayo.nombreEvento}"></td>
                    <td th:text="${ensayo.fechaEvento}"></td>
                    <td th:text="${ensayo.ubicacionEvento}"></td>
                    <td th:text="${ensayo.duracion}"></td>
                </tr>
            </table>
            
            <a href="/listarEnsayos"><button>VOLVER</button></a>
             <a href="/confirmarModificacionEnsayo"><button>MODIFICAR</button></a>
            
        </div>

    </body>
</html>