<html>
  <head>
    <meta charset="UTF-8">
    <title>Castillos</title>
  </head>
  <body>
      <div>
    <h1>Castillos</h1>
    <form>
      <div>
        <label for="pisos">Pisos:</label>
        <input type="number" id="pisos" name="pisos" required>
      </div>
        <div>
        <label for="personasXPiso">Personas por piso:</label>
        <input type="number" id="pisos" name="pisos" required>
      </div>
      <div>
        <label for="ncTronc">NCTronc:</label>
        <input type="number" id="ncTronc" name="ncTronc" required>
      </div>
      <div>
        <label for="ncPiña">NCPiña:</label>
        <input type="number" id="ncPiña" name="ncPiña" required>
      </div>
      <div>
        <label for="aixecatSota">Aixecat per sota:</label>
        <input type="checkbox" id="aixecatSota" name="aixecatSota">
      </div>
      <div>
        <label for="agulla">Agulla:</label>
        <input type="checkbox" id="agulla" name="agulla">
      </div>
      <button type="submit">Añadir castillo</button>
    </form>
    </div>
  </body>
</html>