<html>
    <head>
        <title>Añadir Castillos</title>
    </head>
    <body>
        <div>
            <h1>Añadir Castillos</h1>
            <main>
                <div>
                    <label for="pisos">Pisos:</label>
                    <input type="number" id="pisos" name="pisos" ><!-- required -->
                </div>
                <div>
                    <label for="personasXPiso">Personas por piso:</label>
                    <input type="number" id="pisos" name="pisos" ><!-- required -->
                </div>
                <div>
                    <label for="ncTronc">NCTronc:</label>
                    <input type="number" id="ncTronc" name="ncTronc" ><!-- required -->
                </div>
                <div>
                    <label for="ncPiña">NCPiña:</label>
                    <input type="number" id="ncPiña" name="ncPiña" ><!-- required -->
                </div>
                <div>
                    <label for="aixecatSota">Aixecat per sota:</label>
                    <input type="checkbox" id="aixecatSota" name="aixecatSota">
                </div>
                <div>
                    <label for="agulla">Agulla:</label>
                    <input type="checkbox" id="agulla" name="agulla">
                </div>
                <div>
                    <a href="/vistaCastillos">
                        <button>Añadir castillo</button>
                    </a>
                </div>
            </main>
        </div>
    </body>
</html>