<html>
    <head>
        <title>Modificar Castillos</title>
    </head>
    <body>
        <div>
            <h1>Modificar Castillo</h1>
            <main>
                <div>
                    <label >Pisos:</label>
                    <input type="number" id="pisos"><!-- required -->
                </div>
                <div>
                    <label >Personas por piso:</label>
                    <input type="number" id="pisos"><!-- required -->
                </div>
                <div>
                    <label>NCTronc:</label>
                    <input type="number" id="ncTronc"><!-- required -->
                </div>
                <div>
                    <label >NCPiña:</label>
                    <input type="number" id="ncPiña"><!-- required -->
                </div>
                <div>
                    <label >Aixecat per sota:</label>
                    <input type="checkbox" id="aixecatSota">
                </div>
                <div>
                    <label >Agulla:</label>
                    <input type="checkbox" id="agulla">
                </div>
                <div>
                    <a href="/vistaCastillos">
                        <button>Modificar castillo</button>
                    </a>
                </div>
            </main>
        </div>
    </body>
</html>