<html>
    <head>
        <title>Modificar Castillos</title>
    </head>
    <body>
        <h1 th:text = "${titulo}"></h1>
            <main>
                <div>
                    <label th:text = "${pisos}"></label>
                    <input type="number" id="pisos" name="pisos" ><!-- required -->
                </div>
                <div>
                    <label th:text = "${personaspisos}"></label>
                    <input type="number" id="pisos" name="pisos" ><!-- required -->
                </div>
                <div>
                    <label th:text = "${ncpinya}"</label>
                    <input type="number" id="ncTronc" name="ncTronc" ><!-- required -->
                </div>
                <div>
                    <label th:text = "${nctronc}"></label>
                    <input type="number" id="ncPiña" name="ncPiña" ><!-- required -->
                </div>
                <div>
                    <label th:text = "${aixecat}"></label>
                    <input type="checkbox" id="aixecatSota" name="aixecatSota">
                </div>
                <div>
                    <label th:text = "${agulla}"></label>
                    <input type="checkbox" id="agulla" name="agulla">
                </div>
                <div>
                    <a href="/vistaCastillos">
                        <button>Modificar castillo</button>
                    </a>
                </div>
            </main>
        </div>
    </body>
</html>