<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vista Castillos</title>
    </head>
    <body>
        <div th:if="${castillos!=null && !castillos.empty}">
            <h1>Castillo</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Pisos</th>
                        <th>Personas por piso</th>
                        <th>NCPinya</th>
                        <th>NCTronc</th>
                        <th>Aixecat</th>
                        <th>Agulla</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="castillo : ${castillos}">
                        <td th:text="${castillo.nombre}"></td>
                        <td th:text="${castillo.pisos}"></td>
                        <td th:text="${castillo.personesXPiso}"></td>
                        <td th:text="${castillo.ncPinya}"></td>
                        <td th:text="${castillo.ncTronc}"></td>
                        <td th:text="${castillo.aixecat}"></td>
                        <td th:text="${castillo.agulla}"></td>

                        <td>
                            <div>
                                <a href="/modificarCastillo">
                                    <button>Editar</button>
                                </a>
                            </div>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div th:if="${castillos==null || castillos.empty}"><!--Si l'ArrayList de gossos no està inicialitzat o no té contingut-->
                <!-- Mostrem missatge-->
                No hi ha gossos a la llista.
            </div>

            <div>
                <div>
                    <a href="/añadirCastillo">
                        <button>Añadir castillo</button>
                    </a>
                </div>
                <button>Agregar castillo salida</button>
                <button>Agregar castillo ensayo</button>
            </div>
        </div>
    </body>
</html>