<!DOCTYPE html>

<html>
    <head th:replace = "~{layout/plantilla :: head}"/>
    <body>

        <div th:replace="~{layout/plantilla :: menu}" />
        <div class="container">

            <section>
                <h1>Castells</h1>
            </section>

            <table border="1" class = "table">
                <thead class="table-warning">
                    <tr>
                        <th th:text = "nom"></th>
                        <th th:text = "pisos"></th>
                        <th th:text = "personespis"></th>
                        <th th:text = "ncpinya"></th>
                        <th th:text = "nctronc"></th>
                        <th th:if="${ocultar}" th:text = "accions" colspan="100"></th>
                        <th th:if="${salida!=null}" th:text = "accions" colspan="100"></th>
                        <th th:if="${ensayo!=null}" th:text = "accions" colspan="100"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="castillo : ${castillos}">
                        <td th:text="${castillo.nombre}"></td>
                        <td th:text="${castillo.pisos}"></td>
                        <td th:text="${castillo.personasPisos}"></td>
                        <td th:text="${castillo.ncPina}"></td>
                        <td th:text="${castillo.ncTronc}"></td>
                        <td th:if="${ocultar}">
                            <div>
                                <a th:href="@{/editarCastillo/}+${castillo.idCastillo}">
                                    <button type="button" class="btn btn-warning" > <i class="fa-solid fa-pencil"></i></button>
                                </a>
                            </div>
                        </td>
                        <td th:if="${ocultar}">
                            <div>
                                <a th:href="@{/eliminarCastillo/}+${castillo.idCastillo}">
                                    <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can" style="color: #ffffff;"/></button>
                                </a>
                            </div>
                        </td>
                        <td th:if="${salida!=null}">
                            <form th:action="@{/pasarCastilloASalida}" method="post">
                                <input type="hidden" name="idSalida" th:value="${salida.idevento}">
                                <input type="hidden" name="idCastilloToSalida" th:value="${castillo.idCastillo}">
                                <button type="submit" class="btn btn-outline-warning" name="submit">Agregar Castillo a Salida</button>
                            </form>
                        </td>
                        <td th:if="${ensayo!=null}">
                            <form th:action="@{/pasarCastilloAEnsayo}" method="post">
                                <input type="hidden" name="idEnsayo" th:value="${ensayo.idevento}">
                                <input type="hidden" name="idCastilloToEnsayo" th:value="${castillo.idCastillo}">
                                <button type="submit" class="btn btn-outline-warning" name="submit">Agregar Castillo al Ensayo</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{/formularioCastillo}" th:if="${ocultar}" type="button" class="btn btn-outline-warning" th:text="Añadir"/>
            </div>
        </div>
    </body>
</html>
