<!DOCTYPE html>

<html>
        <head th:replace = "~{layout/plantilla :: head}"/>
    <body>

        <header th:replace="~{layout/plantilla :: menu}" />
        
        <section>
            <h1>Castillos</h1>
        </section>
         
            <table border="1">
                <thead>
                    <tr>
                        <th th:text = "id"></th>
                        <th th:text = "nombre"></th>
                        <th th:text = "pisos"></th>
                        <th th:text = "perosnaspisos"></th>
                        <th th:text = "ncpinya"></th>
                        <th th:text = "nctronc"></th>
                        <th th:text = "aixecat"></th>
                        <th th:text = "agulla"></th>
                        <th th:text = "acciones" colspan="100"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="castillo : ${castillos}">
                        <td th:text="${castillo.idCastillo}"></td>
                        <td th:text="${castillo.nombre}"></td>
                        <td th:text="${castillo.pisos}"></td>
                        <td th:text="${castillo.personasPisos}"></td>
                        <td th:text="${castillo.ncPina}"></td>
                        <td th:text="${castillo.ncTronc}"></td>
                        <td th:text="${castillo.aixecat}"></td>
                        <td th:text="${castillo.agulla}"></td>

                        <td>
                            <div>
                                <a th:href="@{/editarCastillo/}+${castillo.idCastillo}" th:text="Editar"/>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a th:href="@{/eliminarCastillo/}+${castillo.idCastillo}" th:text="Eliminar"/>
                            </div>
                        </td>
                        <td th:if="${salida!=null}">
                            <form th:action="@{/pasarCastilloASalida}" method="post">
                                <input type="hidden" name="idSalida" th:value="${salida.idevento}">
                                <input type="hidden" name="idCastilloToSalida" th:value="${castillo.idCastillo}">
                                <button type="submit" name="submit">Agregar Castillo a Salida</button>
                            </form>
                        </td>
                        <td th:if="${ensayo!=null}">
                            <form th:action="@{/pasarCastilloAEnsayo}" method="post">
                                <input type="hidden" name="idEnsayo" th:value="${ensayo.idevento}">
                                <input type="hidden" name="idCastilloToEnsayo" th:value="${castillo.idCastillo}">
                                <button type="submit" name="submit">Agregar Castillo al Ensayo</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{/formularioCastillo}" th:text="añadir"/>
            </div>
    </body>
</html>
