<!DOCTYPE html>
<html>
  <head>
    <title>Listar Apuntes</title>
  </head>
  <body>
    <h1>Listar Apuntes</h1>
    <table>
      <thead>
        <tr>
          <th>Concepto</th>
          <th>Precio</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Comida</td>
          <td>$10.00</td>
          <td>Gasto</td>
          <td>
            <button>Modificar</button>
            <button>Eliminar</button>
          </td>
        </tr>
        <tr>
          <td>Gasolina</td>
          <td>$20.00</td>
          <td>Gasto</td>
          <td>
            <button>Modificar</button>
            <button>Eliminar</button>
          </td>
        </tr>
        <tr>
          <td>Salario</td>
          <td>$1000.00</td>
          <td>Ingreso</td>
          <td>
            <button>Modificar</button>
            <button>Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="/AnadirApunte"><button>Añadir Apunte</button></a>
  </body>
</html>