<!DOCTYPE html>
<html>
  <head>
    <title>Modificar Apunte</title>
  </head>
  <body>
    <h1 th:text = "${titulo}"></h1>
    <form>
      <div>
        <label for="concepto" th:text = "${Concepto}"></label>
        <input type="text" id="concepto" name="concepto">
      </div>
      <div>
        <label for="precio" th:text = "${Precio}"></label>
        <input type="text" id="precio" name="precio">
      </div>
      <div>
        <label for="tipo" th:text = "${Tipo}"></label>
        <input type="text" id="tipo" name="tipo">
      </div>
      <button type="submit">Modificar Apunte</button>
    </form>
  </body>
</html>
