<!DOCTYPE html>
<html>
    <head>
        <title>Añadir Circular</title>
    </head>
    <body>
        <h1>Añadir</h1>

        <a th:href = "@{/gestionEconomica}" th:text = "Inicio"></a>

        <p>
        <form th:action = "@{/guardarCircular}" method="post" th:object = "${circular}">

            <input type="hidden" name="idcircular" th:field="*{idcircular}"/>

            <p>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" th:field = "*{titulo}">
            </p>
            <<p>
                <label for="mensaje">Mensaje</label>
                <input type="text" id="mensaje" th:field = "*{mensaje}">

            </p>
            <input type="submit" name="enviar" values="Enviar Dades"/>
        </form>
    </p>
</body>
</html>

