<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "~{layout/plantilla :: head}">
    </head>
    <body>
        <div th:replace="~{layout/plantilla :: menu}" />
        <div class="container">
            <h1>Afegir Circular</h1>

            <p>
            <form th:action = "@{/guardarCircular}" method="post" th:object = "${circular}">

                <input type="hidden" name="idcircular" th:field="*{idcircular}"/>

                <p>
                    <label for="titulo">Títol</label>
                    <input type="text" id="titulo" th:field = "*{titulo}">

                    <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"/>
                </p>
                <p>
                    <label for="mensaje">Missatge</label>
                    <input type="text" id="mensaje" th:field = "*{mensaje}">

                    <span th:if="${#fields.hasErrors('mensaje')}" th:errors="*{mensaje}"/>

                </p>
                <input class="btn btn-outline-warning" type="submit" name="enviar" values="Enviar Dades"/>
            </form>
        </p>
    </div>
</body>
</html>

