<!DOCTYPE html>
<html>
  <head>
    <title>Confirmar Eliminación</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div>
        <table border="1">
            <tr>
                <th><p>¿Deseas confirmar la eliminación?</p></th>
            </tr>
            <tr>
                <th>
                  <a href="/paginalistarSalidas">
                    <button>No</button>
                  </a>
                  <a href="/paginalistarSalidas">
                    <button>Si</button>
                  </a>
                </th>
            </tr>
        </table>      
    </div>
  </body>
</html>