<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Crear usuario</title>
    </head>
    <body>
        <div>
            <h1>Crear usuario</h1>
            
            <p>
                <form th:action="@{/guardarUsuario}" method="post" th:object="${usuario}">
                    <input type="hidden" name="idusuario" th:field="*{idusuario}"/>
            
                    <p>
                        <label for="email">Email:</label>
                        <input type="email" name="email" th:field="*{mail}"><br><br>
                        <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"/>
                    </p>
                    
                    <p>
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" th:field="*{password}"><br><br>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                    </p>


                    <p>
                        <label for="username">Nombre:</label>
                        <input type="text" name="username" th:field="*{username}"><br><br>
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
                    </p>

                    <p>
                        <label for="altura">Altura (m):</label>
                        <input type="text" name="altura" th:field="*{altura}"><br><br>
                        <span th:if="${#fields.hasErrors('altura')}" th:errors="*{altura}"/>
                    </p>

                    <p>
                        <label for="peso">Peso (kg):</label>
                        <input type="text" name="peso" th:field="*{peso}"><br><br>
                        <span th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}"/>
                    </p>

                    <p>
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" name="telefono" th:field="*{telefono}"><br><br>
                        <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"/>
                    </p>

                    <p>
                        <label for="edad">Edad: (AAAA-MM-DD)</label>
                        <input type="date" name="edat" th:field="*{edat}"><br><br>
                        <span th:if="${#fields.hasErrors('edat')}" th:errors="*{edat}"/>
                    </p>
                    
                    <p>
                        <label for="posicio">Posicion:</label>
                        <input type="text" name="posicio" th:field="*{posicio}"><br><br>
                        <span th:if="${#fields.hasErrors('posicio')}" th:errors="*{posicio}"/>
                    </p>
                    
                    <p>
                        <label for="tipousuario_idtipousuario">Id tipo de usuario [1 = Casteller][2 = CapDeColla][3 = Tresorer]:</label>
                        <input type="text" name="tipousuario_idtipousuario" th:field="*{tipousuario_idtipousuario.idtipousuario}"><br><br>
                        <span th:if="${#fields.hasErrors('tipousuario_idtipousuario.idtipousuario')}" th:errors="*{tipousuario_idtipousuario}"/>
                    </p>

                    <input type="submit" name="enviar" value="Enviar Dades"/> 
                </form>
            </p>

            <div>
                <a th:href = "@{/paginalistarUsuarios}">
                    <button>Volver</button>
                </a>
            </div>
        </div>
    </body>
</html>
