<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Crear usuario</title>
  </head>
  <body>
    <h1>Crear usuario</h1>
    <form>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br>

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre"><br>

      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena"><br>

      <label for="confirmar-contrasena">Confirmar contraseña:</label>
      <input type="password" id="confirmar-contrasena" name="confirmar-contrasena"><br>

      <label for="altura">Altura (cm):</label>
      <input type="number" id="altura" name="altura"><br>

      <label for="peso">Peso (kg):</label>
      <input type="number" id="peso" name="peso"><br>

      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono"><br>

      <label for="edad">Edad:</label>
      <input type="number" id="edad" name="edad"><br>

      <input type="submit" value="Crear">
    </form>
  </body>
</html>
