<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    
    <div>
      <img th:src="@{'/LogoERPCastellers.png'}" width='150' height='150'/><br>

      <h1>Login</h1><br>

      <label for="campo1">Email</label><br><br>
      <input type="text" id="campo1" ><br>

      <label for="campo2">Contraseña</label><br><br>
      <input type="text" id="campo2"><br>
      <a href="/paginarecuperarContrasena" style="color: rgb(255, 102, 0)">¿Olvidaste la contraseña?</a><br><br><br>

      
      <a href="/menuPrincipal">
        <button>Login</button>
      </a>
    </div>
    
  </body>
</html>