<!DOCTYPE html>
<html>
    <head>
        <title>Menu Principal</title>
    </head>
    <body>
        <table>
            <tr>
                <th><a href="/menuPrincipal">Menu</a></th>
                <th><a href="/listarEnsayos">Ensayos</a></th>
                <th><a href="/paginalistarSalidas">Salidas</a></th>
                <th><a href="/vistaCastillos">Castillos</a></th>
                <th><a href="/gestionEconomica">Administración</a></th>
                <th><a href="">Ajustes</a></th>
            </tr>
        </table>
    </body>
</html>
