<!DOCTYPE html>
<html>
  <head>
    <title>Menu Principal</title>
  </head>
  <body>
    <table>
                <tr>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Menu</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Ensayos</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Salidas</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Castillos</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Administración</a></th>
                    <th><a th:href="@{'/ListarEnsayos.html'}">Ajustes</a></th>
                </tr>
            </table>
</body>
</html>
