<html>
    <head th:replace = "~{layout/plantilla :: head}">
        <meta charset="UTF-8">
        <title>Modificar Modulo</title>
    </head>
    <body>
        <div>
            <h1>Formulario Modulo</h1>
            <div th:replace="~{layout/plantilla :: menu}" />
            <p>
            <form th:action = "@{/guardarModulo}" method="post" th:object = "${modulotipousuario}">

            <input type="hidden" name="idmtu" th:field="*{idmtu}"/>
            <input type="hidden" name="modulo" th:field="*{modulo.idModulo}"/>
            <input type="hidden" name="modulo" th:field="*{rol.idtipousuario}"/>
                <p>
                    <label>Activo</label>
                    <input type="checkbox" name="activo" th:field="*{activo}">
                </p>
                
                <input type="submit"  class="btn btn-outline-warning" name="enviar" values="Enviar Dades"/>
            </form>
            </p>
        </div>
    </body>
</html>