<!DOCTYPE html>
<html>
  <head>
    <title th:text="${recuperarContrasena}"></title>
  </head>
  <body>
    
    <div>
      <img th:src="@{'/LogoERPCastellers.png'}" width='150' height='150'/><br>

      <h1 th:text="${recuperarContrasena}">Recuperar Contraseña</h1><br>

      <label for="campo1" th:text="${email}">Email</label><br><br>
      <input type="text" id="campo1" ><br><br><br>
      
      <a href="/paginaLogin">
        <button th:text="${enviar}">Enviar</button>
      </a>
    </div>
    
  </body>
</html>