<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Módulos</title>
  </head>
  <body>
    <div>
    <h1>Módulos</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo de usuario</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Modulo 1</td>
          <td>Administrador</td>
          <td>Si</td>
          <td>
            <button>Editar</button>
            <button>Eliminar</button>
          </td>
        </tr>
        <tr>
          <td>Modulo 2</td>
          <td>Usuario</td>
          <td>No</td>
          <td>
            <button>Editar</button>
            <button>Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button>Añadir módulo</button>
    </div>
  </body>
</html>