<!DOCTYPE html>
<html>
    <head th:replace = "~{layout/plantilla :: head}"/>
    <body>

        <header th:replace="~{layout/plantilla :: menu}" />

        <section>
            <h1>Modulos</h1>
        </section>

        <div th:if="${modulos!=null && !modulos.empty}">
            <table border="1" th:each="modulo : ${modulos}">
                <thead>
                    <tr>
                        <th th:text="${modulo.nombre}" colspan="3"></th>
                    </tr>
                    <tr>
                        <th th:text = "usuario"></th>
                        <th th:text = "activo"></th>
                        <th th:text = "acciones"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="modulotipousuario : ${modulo.modulosTiposUsuario}">
                        <td th:text="${modulotipousuario.rol.nombretipousuario}"></td>
                        <td th:text="${modulotipousuario.activo}"></td>
                        <td>
                            <div>
                                <a href="/modificarModulo">
                                    <a th:href="@{/editarModulo/}+${modulotipousuario.idmtu}" th:text="Editar"/>
                                </a>
                            </div>
                            <!-- a th:href="@{/eliminarModulo/}+${modulotipousuario.idmtu}" th:text="Eliminar"/-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <!-- a href="/modificarModulo">
                    <button>Añadir módulo</button>
                </a-->
            </div>
        </div>
    </body> 
</html>
