<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Módulos</title>
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="/menuPrincipal">Menu</a></li>
                <li><a href="/listarEnsayos">Ensayo</a></li>
                <li><a href="/paginalistarSalidas">Salidas</a></li>
                <li><a href="/vistaCastillos">Castillos</a></li>
                <li><a href="/gestionEconomica">Administracion</a></li>
                <li><a href="/vistaModulos">Modulos</a></li>
                <li><a href="/crearUsuario"><img th:src="@{'/ajustes.png'}" width='22' height='22'/></a></li>
            </ul>
        </nav>

        <div th:if="${modulos!=null && !modulos.empty}">
            <table border="1" th:each="modulo : ${modulos}">
                <thead>
                    <tr>
                        <th th:text="${modulo.nombre}" colspan="3"></th>
                    </tr>
                    <tr>
                        <th th:text = "usuario"></th>
                        <th th:text = "activo"></th>
                        <th th:text = "acciones"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="modulotipousuario : ${modulo.modulosTiposUsuario}">
                        <td th:text="${modulotipousuario.rol.nombretipousuario}"></td>
                        <td th:text="${modulotipousuario.activo}"></td>
                        <td>
                            <div>
                                <a href="/modificarModulo">
                                    <a th:href="@{/editarModulo/}+${modulotipousuario.idmtu}" th:text="Editar"/>
                                </a>
                            </div>
                            <!-- a th:href="@{/eliminarModulo/}+${modulotipousuario.idmtu}" th:text="Eliminar"/-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <!-- a href="/modificarModulo">
                    <button>Añadir módulo</button>
                </a-->
            </div>
        </div>
    </body> 
</html>
